.main-container{
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  justify-content: center;

}
input{
  margin: 15px;
  height: 40px;
  font-size: 20px;
  width: 400px;
  padding-left: 10px;
  border: none;
  box-shadow: 1px 1px 3px 1px gray;
}
button {
  width: 200px;
  background-color: antiquewhite;
  border: none;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.heading{
  text-align: center;
  color: rgb(243, 65, 26);
  margin-bottom: 100px;
}
hr{
  margin-left: 120px;
}
h2{
text-align: center;
}